.header {
	font-weight: bold;
	color: #0174DF;
	text-align: center;
}

.menu {
	font: bold 11px tahoma, arial, verdana, sans-serif;
	color: #0174DF;
	cursor: pointer;
	margin: 2px;
	padding: 2px;
}

.menuHeader {
	font: bold 11px tahoma, arial, verdana, sans-serif;
	color: #0174DF;
}

.messageRow {
	width:250px;
	text-align:left;
	float:left;
}
.messageRowFrom {
	width:125px;
	text-align:left;
	float:left;
}
.messageRowCheckBox {
	width: 7px;
	text-align:center;
	float:center;
}
.messageRowDate {
	width: 120px;
	text-align:left;
	float:left;
}
