.header {
	font-weight: bold;
	color: #0174DF;
	text-align: center;
}

.menu {
	font: bold 11px tahoma, arial, verdana, sans-serif;
	color: #0174DF;
	cursor: pointer;
	margin: 2px;
	padding: 2px;
}

.menuHeader {
	color: #0174DF;
	font-size:5px;
}

.messageRow {
	width:250px;
	text-align:left;
	float:left;
}
.messageRowFrom {
	width:125px;
	text-align:left;
	float:left;
}
.messageRowCheckBox {
	width: 7px;
	text-align:center;
	float:center;
}
.messageRowDate {
	width: 120px;
	text-align:left;
	float:left;
}

.messageText {
	margin:10px;
	padding:10px;
	text-align:left;
	float:left;
	color: #001001;
	border: 1px solid lightgrey;
	width:100%;
	height:100%;
}
.messageDate {
	font: bold 11px tahoma, arial, verdana, sans-serif;
	color: #0174DF;
	margin:5px;
	padding:5px;
	text-align:left;
	float:left;
	color: #001001;
}
.messageTextPanel{
	width:100%;
}